:root {
    --accent: #D5966C;
    --heading: #141414;
    --body-text: #444444;
    --background: #FFFFFF;
}

/*---------
    Reset
  ---------*/

  *,
  * ::before,
  * ::after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
  }


  /* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/*----------------
    Global Styles
  ----------------*/

body {
  background-color: var(--background);
}

/*--------------
    Typography
  --------------*/

h1,
h2,
h3 {
    color: var(--heading);
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

h3,
footer,
footer p,
.inspired-text h2, 
.inspired-text p {
    color: var(--background);
}

h1 {
    font-size: 3.75rem;
    line-height: 3.4375rem;
}

h2 {
    font-size: 3.125rem;
    line-height: 2.8125rem;
}

h2 span::before {
    content:"\A";
    white-space: pre;
}

p {
    color: var(--body-text);
    font-family: 'Outfit', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.75rem;
}

i {
    font-size: 1.25rem;
    margin-right: 1.25rem;
}

/*----------
    Layout
  ----------*/

section {
      margin-left: 1rem;
      margin-right: 1rem;
}

.hero-container {
    margin: 2rem 1rem 7.5rem 1rem;
}

.hero-text {
    margin-top: 2rem;
}

/* Day/1st Section */
.grid-1 {
    margin-bottom: 1.5625rem;
}

.day {
    margin-bottom: 2rem;
}

.day-container p{
    margin-top: 1.3125rem;
}

/* 2nd Section */

.grid-2,
.grid-3 {
    margin-bottom: 1rem;
}

.inspired-text,
footer {
    background-color: var(--heading);
}

.inspired-text {
    
    margin-bottom: 7.5rem;
    padding: 3rem 1.5rem;
}

.inspired-text p {
    margin-top: 1.5rem;
}

/* Footer */

footer {
    font-size: 1rem;
    line-height: 1.625rem;
    padding: 3rem 2rem;
}

footer p {
    margin-top: 2.375rem;
    margin-bottom: 2.375rem;
}

/*---------------
    Link/Button
  ---------------*/

.arrow, 
.link {
    align-items: center;
    display: flex;
    height: 4.5rem;
}

.arrow {
    background-color: var(--accent);
    justify-content: center;
    width: 3.5rem;
}

.link {
    background-color: var(--heading);
    justify-content: space-between;
    margin-top: 2rem;
    width: 16.25rem;
}

.link a {
    color: var(--background);
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 1.25rem;
    letter-spacing: 3.64px;
    line-height: 1.49625rem;
    margin-left: 2rem;
    text-decoration: none;
    text-transform: uppercase;
}

.link:hover,
.link:hover .arrow {
    transition: all .3s ease-out;
}

.link:hover {
    background-color: var(--accent);
}

.link:hover .arrow {
    background-color: var(--heading);
}

/* social links */
footer a {
    color: var(--background);
}

footer a:hover {
    color: var(--accent);
}

/*------------------
    Tablet Screens
  ------------------*/

@media screen and (min-width: 768px) {
   /* Typography */
    h2 span::before {
        display: none;
    }

    h2 {
        font-size: 3.125rem;
        line-height: 2.8125rem;
    }

    .day-container p, 
    .inspired-text p {
        margin-top: 1.5rem;
    }

    section {
        margin-left: 2.4375rem;
        margin-right: 2.4375rem;
    }

    /* Day Section */
    .day {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.6875rem;
    }

    .day .grid-1 {
        order: 2;
    }

    .grid-1 {
        margin-bottom: 0;
    }

    .day .day-container {
        max-width: 13.9375rem;
        order: 1;
    }

    
}