:root {
    --accent: #D5966C;
    --heading: #141414;
    --body-text: #444444;
    --background: #FFFFFF;
}

/*---------
    Reset
  ---------*/

  *,
  * ::before,
  * ::after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
  }


  /* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/*----------------
    Global Styles
  ----------------*/

/*--------------
    Typography
  --------------*/

h1,
h2,
h3 {
    color: var(--heading);
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

h1 {
    font-size: 3.75rem;
    line-height: 3.4375rem;
}

p {
    color: var(--body-text);
    font-family: 'Outfit', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.75rem;
}

/*----------
    Layout
  ----------*/

.hero-container {
    margin: 2rem 1rem 7.5rem 1rem;
}

.hero-text {
    margin-top: 2rem;
}

/*---------------
    Link/Button
  ---------------*/

.arrow, 
.link {
    align-items: center;
    display: flex;
    height: 4.5rem;
}

.arrow {
    background-color: var(--accent);
    justify-content: center;
    width: 3.5rem;
}

.link {
    background-color: var(--heading);
    justify-content: space-between;
    margin-top: 2rem;
    width: 16.25rem;
}

.link a {
    color: var(--background);
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 1.25rem;
    letter-spacing: 3.64px;
    line-height: 1.49625rem;
    margin-left: 2rem;
    text-decoration: none;
    text-transform: uppercase;
}

.link:hover {
    background-color: var(--accent);
}

.link:hover .arrow {
    background-color: var(--heading);
}